# Ignore node_modules
node_modules
**/node_modules

# Ignore .env files, especially in backend
.env
**/.env
backend/.env

# Ignore build artifacts if not needed
dist
**/dist

# Ignore logs
logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/
*.swp